/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background-color: #FFFFFF;
    width: 70%;
    padding: 30px;
    margin-top: 30px;
    border-radius: 7px;
}

/* Top Player style  */
.top-players {
    margin-bottom: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img {
    height: 56px;
    width: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* Top Blog Style  */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 30px;
}
.blog {
    display: flex;
    align-items: center;
}
.blog .thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-title {
    font-size: 20px;
}
.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* Latest Course Style */

.courses{
    display: flex;
    justify-content: space-between;
}
.course{
    width: 26%;
    background-color: #faf6f6;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px rgb(201, 198, 198);
}
.course img {
    width: 224px;
    height: 104px;
}
.course a {
    text-decoration: none;
    color: #ED6B4F;
    font-size: 15px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-info .rating .filled{
    color: #FFC014;
    font-size: 12px;
}
.course-info .rating .empty{
    color: #AEAEAE;
    font-size: 12px;
}
.course-info .rating .time{
    font-size: 14px;
}
.course-info .duration {
    background-color: #FFE4E8;
    color: #FF4A60;
    font-size: 14px;
    border-radius: 15px;
    padding: 4px 4px;
}

/* -------------------------------------- Media Queries -------------------------------------------------- */
/* --------------  For Mobile View ---------------- */
@media only screen and (max-width: 480px) {
    /* Top Player area  */
    .container {
        margin: 15px 0;
        width: 100%;
        padding: 15px 0;
    }
    .top-players{
        margin-bottom: 20px;
    }
    .section-title {
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        padding-left: 5px;
        padding-right: 7px;
        
    }
    .player-name {
        margin-left: 8px;
        font-size: 16px;
    }
    hr {
        margin-bottom: 20px;
    }

    /* Top Blog Area  */
    
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
        padding-left: 20px;
        padding-right: 7px;
    }
    .blog{
        flex-direction: column;
        align-items: flex-start;
    }
    .blog .thumbnail img {
        width: 80%;
        height: 100%;
    }
    .blog-info {
        margin-left: 5px;
    }

    /* Latest Courses  */

    .courses {
        flex-direction: column;
        align-items: center;
    }
    .course {
        width: 80%;
        margin-bottom: 20px;
    }
    .course img{
        width: 100%;
        height: 150px;
    }
}


/* ------------------ For Mobile landscap and tablet View ------------------ */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Top Player area  */
    .container {
        margin: 15px 0;
        width: 100%;
        padding: 15px 0;
    }
    .top-players{
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        
    }
    .player-name {
        margin-left: 10px;
        font-size: 16px;
    }
    hr {
        margin-bottom: 20px;
    }

    /* Top Blogs Area  */

    .top-blogs {
        padding-left: 20px;
        padding-right: 7px;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }
    .blog{
        flex-direction: column;
        align-items: flex-start;
    }
    .blog .blog-info{
        margin: 0;
    }
    .blog .thumbnail img {
        width: 80%;
        height: 100%;
    }


    /* Latest Course Area  */

   #uniqe-title {
       padding-left: 20px;
   }
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        justify-items:center;
    }
    .course {
        width: 80%;
    }
    .course img{
        width: 100%;
        height: 150px;
    }
}


/* ---------------------------- For Tablet landscape, Laptop and small Desktops --------------------------------- */

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Common Style  */

    .container {
        background-color: #FFFFFF;
        width: 90%;
        margin: 30px 0;
        padding: 0;    /* this is for removing padding from all side, which is given in the main design container class */
        padding: 20px 0;
        border-radius: 7px;
    }
    
    /* Top Player style  */

    .top-players {
        margin-bottom: 25px;
        padding-left: 30px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
    }
    .player{
        display: flex;
        align-items: center;
    }
    hr{
        margin-bottom: 25px;
    }
    
    /* Top Blog Style  */
    
    .top-blogs {
        padding-left: 30px;
        padding-right: 7px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 26px;
        grid-column-gap: 20px;
    }
    .blog-info {
        margin-left: 9px;
    }
    
    /* Latest Course Style */
    
    #uniqe-title {
        padding-left: 30px;
    }
    .courses{
        display: flex;
        justify-content: normal;
        justify-content: space-around;
    }
    .course{
        width: 26%;
        background-color: #faf6f6;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 1px 1px 7px rgb(201, 198, 198);
    }
    .course img {
        width: 100%;
        height: 150px;
    }
}